* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

body{
    background:
           linear-gradient(
             rgba(0, 0, 0, 0.7), 
             rgba(0, 0, 0, 0.7)
           ),
           url(https://assets.nflxext.com/ffe/siteui/vlv3/6dea7743-5586-45d1-89a2-9569b1bb0340/08a80f4f-28ea-4d9e-b250-e4d3ac127f73/BR-pt-20220207-popsignuptwoweeks-perspective_alpha_website_small.jpg);
}

.container {
    background-color: #000000;
}
.productInit {
    -webkit-box-shadow: inset 0px 0px 50px 50px #000000; 
    box-shadow: inset 0px 0px 50px 50px #000000;
}

header {
    padding: 5% 5%;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    height: auto;
    width: 10%;

}

nav {
    width: 100%;
    text-align: right;
}

.linguagem {
    width: calc(8em + 1vw);
    height: 36.19px;
    background-color: #00000066;
    color:#FFFFFF;
    border: 0.01px solid #FFFFFF;
    cursor: pointer;
} 

.linguagem option {
    background-color: #808080;
    border: none;
    outline: none;
    cursor: pointer;
}

.start {
    background-color: #e50914;
    color: #FFFFFF;
    border-radius: 5%;
    font-weight: bold;
    border: none;
    width: calc(7em + 1vw);
    height: calc(1.7em + 1vw);
    margin: 0px 0px 0px 20px;
    cursor: pointer;
}

.central {
    display: block;
    text-align: center;
    color: #FFFFFF;
    margin: 130px 0px 0px 0px;
}

.informations h1 {
    font-weight: bold;
    font-size: calc(1em + 3vw);
    margin-bottom: 40px;
}

.informations h2 {
    font-weight: 400;
    font-size: calc(0.4em + 1vw);
    margin-bottom: 40px;
}

.input-information {
    font-weight: 500;
    font-size: calc(0.7em + 0.5vw);
    margin-bottom: 40px;
}

.input-email {
    width: calc(40em + 1vw);
    height: calc(1.9em + 1.5vw);
    margin-right: -3px;
    outline: none;
    font-size: 15px;
    padding-left: 15px;
    border: none;
}

.button-email {
    width: calc(6em + 1vw);
    height: calc(1.9em + 1.5vw);
    color: #FFFFFF;
    background-color: #e50914;
    border: none;
    font-weight: bolder;
    font-size: calc(0.7em + 0.4vw);
    margin-bottom: 130px;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 8px;
    background-color: #343434;
}

.informationsProducts {
    background-color: #000000;
    display: flex;
    flex-direction: column;   
}

.boxInformations {
    text-align: center;
    padding-bottom: 5%;
}

.boxInformations img {
    display: inline-block;
}

.texts {
    width: 500px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10em;
    text-align: left;
}

.texts h2 {
    font-size: calc(2rem + 1vw);
    margin-bottom: 2rem;
}

.texts p {
    font-size: calc(0.9rem + 0.5vw);
}

.boxFaq {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.FAQ {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.FAQ .questions {
    font-size: 3rem;
    font-weight: bold;
    margin: 5rem;
}

.accordion-item {
    background-color: #303030;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.accordion-link {
    font-size: 1.6rem;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    font-weight: bold;
    font-size: calc(0.5rem + 1vw);
}

.accordion-link i {
    padding: .5rem;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    font-size: 1.5rem;
    padding: 0 2rem 0 2rem;
    transition: max-height 650ms;
}

.accordion-link i:nth-child(2) {
    display:none;
}


.accordion-item:target .answer {
    max-height: 50rem;
    padding-bottom: 2rem;
}

.accordion-item:target .accordion-link i:nth-child(1) {
    display: none;
}

.accordion-item:target .accordion-link i:nth-child(2) {
    display: block;
}

.enfForm {
    margin-top: 2rem;
}

.end {
    background-color: #000000;
}

#inputmail {
    width: calc(30em + 1vw);
    color: #000000;
}

footer p, footer a, footer .linguagem {
    color: #757575;
}

.linguagem {
    border: 0.01px solid #757575;
}

.help {
    display: flex;
    margin: 0 15% 0 15%;
}

.help a {
    padding-bottom: 7%;
}

.doubts {
    padding-left: 15%;
    margin: 4% 0 3% 0;
}

.doubts p, .doubts a {
    font-size: 16px;
}

.part-1, .part-2, .part-3, .part-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
}

footer .linguagem {
    margin: 2% 15% 0 15%;
    width: 11%;
}

.netflix {
    font-size: 13px;
    padding: 3% 0 3% 15%;
}

@media (max-width: 480px) {

    body {
        width: 100%;
        height: 100%;
    }

    .informations h1 {
        font-size: 250%;
    }
    
    .informations h2 {
        font-size: 120%;
    }

    .input-information {
        font-size: 150%;
    }

    .input-email {
        width: 90%;
        height: 3rem;
    }

    .button-email {
        margin-top: 1.2rem;
        width: 25%;
        height: 2.2rem;
        font-size: 1rem;
    }

    .boxInformations {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 60vh;
    }

    .texts {
        text-align: center;
        width: 90%;
        height: 100%;
        font-size: 5%;
    }

    .texts h2 {
        margin-top: 5%;
    }

    .boxInformations img {
        width: 100%;
    }

    .boxFaq {
        display: flex;
    }

    .FAQ {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .questions {
        font-size: 1px;
    }

    .accordion-link {
        font-size: 100%;
    }

    .enfForm {
        text-align: center;
    }

    #inputmail {
        width: 100%;
    }

    .end {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    footer {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .doubts {
        margin: 5%;
        padding: 0;
        width: 100%;
    }

    .help {
        margin: 0;
        padding: 5%;
    }

    .part-1 a, .part-2 a, .part-3 a, .part-4 a {
        padding: 10% 5% 10% 0;
    }

    footer .linguagem {
        width: 35%;
        margin: 0 0 0 5%;
    }

    .netflix {
        padding: 0;
        margin: 5% 0 0 5%;
        padding-bottom: 5%;
    }

    .session-2 .boxInformations, .session-4 .boxInformations {
        display: flex;
        flex-direction: column-reverse;
    }
}